body{
    background-color: black;
    color: white;
}
div{
    display: flex;
    justify-content:center;
}
h1{
    text-shadow: 1px 1px white;
    color: red;
    font-family: fantasy; 

}
h2{
    color: darkred;
    text-shadow: 1px 1px white;
    font-family: fantasy;
}
p{
    color: white;
    font-size: 16px;
    font-family: fantasy;
}
table, th, td{
    border: 1px solid;
    text-align: center;
    width: 30%;
    background-color: silver;
    color: black;
}
a{
    font-family: fantasy;
    font-size: 16px;
    padding: 10px;
    border: 2px dashed;
}
img {
    width: 25%;
    height: 25%;
    padding: 5px;
  }
a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: yellow;
  text-decoration: underline;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}


.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
    height: auto;
    z-index: 2;
}

.carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 5px;
}
