body{
    background-color: oldlace;
    color: black;
}
div{
    display: flex;
    justify-content: center;
}
h1{
    text-shadow: 1px 1px black;
    color: darkgreen;
    font-family: Arial; 

}
h2{
    color: forestgreen;
    text-shadow: 1px 1px black;
    font-family: Arial;
}
p{
    color: black;
    font-size: 16px;
}
table, th, td{
    border: 1px solid;
    text-align: center;
    width: 30%;
    background-color: peachpuff;
}
a{
    font-family: Arial;
    font-size: 16px;
    padding: 10px;
    border: 1px solid;
}
img {
    width: 25%;
    height: 25%;
    padding: 5px;
  }
a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: underline;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}


.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  height: auto;
  z-index: 2;
}

.carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 5px;
}

